<!DOCTYPE html>
<html
<head>
    <title>To Do List</title>

</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
        <table>
            <thead>
        <tr>
            <th>Name</th>
            <th>Number of items</th>
        </tr>
            </thead>
        <tbody>
            {% for list in lists %}

        <tr>
            <th>{{ list.name }}</th>
            <th>{{ list.items.all|length }}</th>
        </tr>
            {% endfor %}
        </body>
    </table>
    </main>

</body>
</html>
